
.ideaCard{
	padding: 16px;
	margin-bottom: 20px;
}

.ideaTitle{
	text-align: left;
	font-size: 150%;
	color: #A9A9A9
}

.ideaAuthor{
	text-align: right;
}

.ideaAuthorName {
	font-style: italic;
}

.ideaDescriptionTitle{
	text-align: left;
	color: #A9A9A9;
}

.ideaDescription{
	text-align: left;
}

.ideaSolution{
	text-align: left;
}

.image{
	height: 70px;
	width:"100%";
}
